    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" src="/../node_modules/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
<!--         <link rel="stylesheet" href="/styles.css"/>
 -->        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <!--   <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
     -->    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <title>
        Internal Audit Management System
    </title>


<style type="text/css">
    img#pup_logo{
    height: 90px;
    width: 90px; 
    float: left;  
    margin-top: 10px;

}

.header-container{
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    height: 105px;
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 20px;
    color: maroon;
}
a#delete{
    font-family: 'Times New Roman', Times, serif;
    float-left: 100px;
    font-size: 15px;
    color: blue;
}
h1{
    margin-bottom: 0px;
    margin-top: 10px;
}
p#slogan{
    padding-left: 110px;
    margin: 0%;
    color: maroon;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#send, #update{
    padding-bottom: 10px;
    height: 200px;
    padding: 30px;
    border-right: 1px solid black;
}

#inquiry{
    padding-bottom: 10px;
    height: 200px;
    padding: 30px;
}

div#content{
    width: 100%;
    margin: 0%;
    margin-top: 50px;
}

label{
    margin-top: 10px;
}

#detail1, #detail2{
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 10px;
}


#reminder{
    margin-top: 10px;
}

button.btn.btn-primary{
    margin-top: 10px;
    margin-left: 45%;
}

.container{
    text-align: center;
}

@media only screen and (max-width: 600px){

    img#pup_logo{
        width: 50px;
        height: 50px;
    }

    a#logo{
        font-size: 15px;
        margin-left: 0%;
    }
}
</style>




        <div class="header-container">
            <div id="header">
                <img id="pup_logo" src="pup-logo.png" alt="PUP LOGO"/>
                <br/>
                <h1>
                    <a id="logo" href="#">
                        POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
                    </a>
                </h1>
                <p id="slogan">The Country's 1st PolytechnicU</p>
            </div>
        </div>
        <div class="content-container">
            <div class="row" id="content">
                <div class="col-sm-4" id="send">
                  
<br>

<br>


<center> <H1> SORRY :( </H1> 
<h2> Please Try Again Later. </h2>
<button class="btn btn-default" onclick="location.href="/"> OK </button> 

</center>

<br><br><br><br>

                 </div>
             </div>
         </div>
         
        <footer>
            <div class="container">
                <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                    <div class="row" style="padding: 10px;">
                        <p id="footer">
                            © 2018 Polytechnic University of the Philippines
                        </p>
                    </div>
                </nav>
            </div>
        </footer>
  

